.content{
 float:left;
 width: 60%;
 padding:0 0 0 30px;
}
.sidebar{
float:right;
width:30%;
padding:10px;
 background: green;
 height: 100%;
}
h1{
 text-align: center;
 border-bottom: 1px solid #bbb;
 padding: 0 0 10px 0;
}
#date
{
 color:yellow;
 font-size:12px;
 font-style: italic;
 }
 #ch
 {
 color:yellow;
 font-size:12px;
 font-style: italic;
 border-bottom : 2px solid yellow;
 }
 body{
 background: red;
 color:white;
 } 